*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
:root {
    --bg-color: #121212;
    --secondary-color: #1a1919;
    --main-color: #59c977;
    --text-color: #ffffff;
}

.login{
    height: 100vh;
    width: 100%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s all ease-out;

}
.login-card{
    width: 500px;
    height: auto;
    background-color: var(--secondary-color);
    border-radius: 2.2rem;
    position: relative;
    padding: 20px 70px;
    transition: .5s all ease-out;
}
.logo-container{
    text-align: center;
    padding-bottom: 6px;
}
#logo{
    font-size: 2.2rem;
    color: var(--main-color);
}
.logo-text{
    color: var(--text-color);
    text-align: center;
    font-size:1.4rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.logo-text h4{
    font-weight: 400;

}
.logo-text span{
    font-weight: 700;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
#google,#apple{
    font-size: 1.5rem;
    vertical-align: middle;
    
}
.google,.apple{
    padding: 8px;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 18px;
    border: 1px solid var(--main-color);
    border-radius: 2rem;
    transition: .3s all ease;
}
.google:hover,.apple:hover{
    background: #292828;
}
span{
    font-size: .9rem;
}
.bx{
    margin-right: 20px;
}
.line{
    text-align: center;
    margin-bottom:10px ;
}
.line span{
    color: var(--text-color);
 
}
.line span:after{
    content: "";
    display: inline-block;
    width: 46%;
    height: 2px;
    background-color: #353434;
    margin-left:6px;
    vertical-align: middle;

}
.line span:before{
    content: "";
    display: inline-block;
    width: 46%;
    height: 2px;
    background-color: #353434;
    margin-right:6px;
    vertical-align: middle;
}
.input{
    text-align: center;
    margin-bottom: 25px;
}
.text-bar{
    width: 100%;
    padding: 11px 8px;
    font-size: .95rem;
    border-radius: .5rem;
    outline: none;
    border: none;
}
.next,.forgot{
    display: block;
    text-align: center;
    width: 100%;
    color: var(--bg-color);
    background: var(--text-color);
    padding: 8px 0;
    border-radius: 2rem;
    margin-bottom: 20px;
    transition: .4s all ease;
}
.next:hover,.forgot:hover{
    /* transform: scale(.9); */
    background:#8d8a8a;
    color: black;
}
.account{
    text-align: center;
}
.account p{
    color: var(--text-color);
    font-size: .8rem;
}
.account a{
    
    color: var(--main-color);
    text-decoration: underline;
}
#x-btn{
    font-size: 1.5rem;
    color: #ffffff;
    position: absolute;
    top: 20px;
    left: 30px;
}