*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    font-family: "Poppins",snas-serif;
    scroll-behavior: smooth;
}
:root{
    --bg-color:#121212;
    --secondary-color:#1a1919;
    --main-color:#59c977;
    --text-color:#ffffff;
    --p-font:1.1rem;
    --h1-font:3.8rem;
    --btn-font:1.3rem;
    --btn-font-small:1rem;

}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
a,li{
    text-decoration: none;
    list-style: none;
}
nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 18px 4%;
    top: 0;
    left: 0;
    z-index: 100;
}
.main{
    max-width: 2000px;
    margin: auto;
}
nav.scrolled{
    padding: 13px 4%;
    background:var(--secondary-color);
}
.navlist{
    display: flex;
}
#menu-btn{
    display: none;
}
.logo{
    font-family: "Geologica",sans-serif;
    font-size: 2.4rem;
    color: var(--main-color);
    font-weight: 600;
}
.navlist a{
   margin: 0 25px;
    color: var(--text-color);
    font-size: var(--p-font);
    transition: all .4s ease;
}
.navlist a:hover{
    color: var(--main-color);
}
.sign-up{
    margin: 0 50px;
    padding: 5px 10px;
    background: var(--main-color);
    color: var(--text-color) ;
    border-radius: .5rem;
}
.sign-up {
    margin: 0 10px;
    color:var(--bg-color);
    transition: all .4s easee;
}
.sign-up i{
    color: var(--text-color);
}
.sign-up:hover{
    transform: scale(.95);
}
/* .sign-up:hover{
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
    color: var(--main-color);

} */

section{
    padding: 70px 7% 60px;
}
.header{
    position: relative;
    height: 82vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-columns: repeat(auto-fit,minmax(400px ,auto)); */
    align-items: center;
    gap: 8rem;
    
}
.header-text h1{
    font-size: var(--h1-font);
    margin:10px 0 7px ;

}
 span{
    color: var(--main-color);
}
.header-text p{
    font-size: var(--p-font);
    line-height: 1.7;
    letter-spacing: 1px;
    margin: 10px 0 30px;
}
.btn {
    display: inline-block;
    padding: 6px 15px;
    border-radius: .5rem;
    background-color: var(--bg-color);
    font-size:var(--btn-font) ;
    color: var(--main-color);
    letter-spacing: 1px;
    border: 1px solid var(--main-color);

    transition: all .4s ease;

}
.btn:hover{
    background-color: var(--main-color);
    color: var(--text-color);
}

.header-img img{
    width: 100%;
    height: auto;
    max-width: 330px;
}
.header-img{
    text-align: center;
}
.middle-text {
    color: var(--main-color);
    font-size: 30px;
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 18px;
}
.middle-text p{
    font-size: 1.2rem;
    color: var(--text-color);
}
.about-us{
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(320px,auto)); */
    grid-template-columns: repeat(2,1fr);
    gap: 6rem;
}
.about-img img{
    width: 100%;
    height: auto;
}
.about-text h1{
    color: var(--main-color);
    margin-bottom: 2rem;
    font-size: 26px;
    font-weight: 600;
}
.about-text p{
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 2rem;
} 
.col{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    align-items: center;
    gap: 4rem;
    margin-top: 25px;
}
.col-content{
    background: var(--secondary-color);
    padding: 20px 30px;
    height: 450px;
    position: relative;
    transition: all .4s ease;

}
.col-content:hover{
    transform: translateY(-10px);
}
.col-img img{
    width: 100%;
    height: auto;
}
.col-content .btn2 {
    font-size:var(--btn-font-small) ;
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    transition: all .4s ease;

}
.btn2:hover{
    color: var(--text-color);
    border-bottom-color:  var(--text-color);

}
.btn2{
    position: absolute;
    bottom: 20px;

}
.col-txt h3{
    color: var(--main-color);
    padding-top: 22px;

}
.col-txt p{
    margin-bottom: 5px;
}
.pricing{
    background: var(--main-color);
}
.pricing .middle-text h1{
    color: var(--bg-color);
}
.plan{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    align-items: center;
    gap: 4rem;
}
.plan-content{
    cursor: pointer;
    background-color: var(--secondary-color);
    padding: 20px 18px;
    height: 410px;
    transition: all .4s ease;
}
.plan-content:hover{
    transform: translateY(-8px);
}
.plan-top i{
    color: var(--main-color);
    font-size: 30px;
}
.plan-top h2{
    font-size: 35px;
    margin: 5px 0 10px ;
}
.plan-bottom p{
    margin-bottom: 10px;
}
.plan-bottom i{
    color: var(--main-color);
}
.sponsors{  
    background: var(--main-color);

}
.s-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,auto));
    gap: 3rem;
    align-items: center;

}
.s-img{
  filter: grayscale(100%);

}
.s-img:hover{
  filter: grayscale(0%);

}
.review-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 2rem;
}
.review-box{
    display: flex;
}
.review-card{
    background: var(--secondary-color);
    padding: 20px;
    height: 250px;
}
.review-img{
    width: 30%;
    margin-right: 10px;
}
.review-img img{
    width: 100%;
    border-radius: 50%;
}
.review-info{
    padding-top: 10px;
    margin-bottom: 15px;
}
.review-text p{
    font-size: .9rem;
}
.footer{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 2rem;
}
.footer h3{
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 10px;
    font-size: var(--btn-font);
}
.f-links ul li{
    list-style: none;
    margin-bottom: 10px;
    text-align: left;
}
.f-links ul li a{
    color: var(--text-color);

}
.f-links a:hover{
    color: var(--main-color);
}
.socials i{
    display: block;
    color: var(--text-color);
}
.socials i:hover{
    color: var(--main-color);
}
.social-links{
    display: flex;
    align-items: center;
}